<div class="row">
  <div class="col-xs-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>New Post</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form" [formGroup]="postForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="example-full-width">
            <textarea formControlName="post" matInput placeholder="post"></textarea>
          </mat-form-field>
          <button role="submit" mat-raised-button button>New Post</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
